.circle-left {
    margin-left: 15px;
    color: #333333;
    text-align: left;
    font: 10px Arial, sans-serif;
}
.circle-right {
    margin-right: 15px;
    color: #333333;
    text-align: right;
    font: 10px Arial, sans-serif;
}
.flex-container-message {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.box-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fit-context{
    width: 100%;
    justify-content: flex-end;
    align-content: flex-end;
}
.message-left {
    margin-left: 8px;
    background-color: #e3dcdc;
    padding: 10px;
    color: black;
    border-radius: 10px;
    margin-bottom: 15px;
    width: fit-content;
    justify-content: flex-start;
    max-width: 250px;
}
.user_message {
    margin-left: auto;
    margin-right: 8px;
    background-color: #f8e9ef;
    overflow-wrap: break-word;
}

