.container-4 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 450px;
    width: 100%;

}
.circle-completed{
    border-radius: 50px;
    border: 1px solid #ee2738;
    background: #ee2738;
}
.circle-not-completed{
    border-radius: 50px;
    border: 1px solid #ee2738;
    background: white;
}
.line-not-completed{
    border: 1px solid #ee2738;
    margin: 0px;
}
.text{
    margin-top: 5px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
}
.icon-pb-first{
    margin-bottom: 10px;
    margin-left: 30px;
}
.finish {
    max-width: 450px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}
.icon-pb-last{
    margin-bottom: 10px;
    margin-right: 30px;
}
.first{
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}
.middle{
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}
.last {
    max-width: 450px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
}