.rateCallerRap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ee2738;
}
.headerCaller {
    background-color: #ee2738;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.back-home-button-caller{
    color: white;
    background-color: #ee2738;
    border-color: transparent;
    margin-left: 2px;
}
.fields-caller {
    margin-top: 10px;
    width: 80%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-items: center;
    align-items: center;

}
.error-field-caller{
    width: 90%;
    display: flex;
    margin:20px;
    text-align: center;
    align-items: center;
}

.buttons-caller {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.rating-star {
    color: #999999;
    margin: 5px;
}

.rating-star-selected {
    color: #ee2738;
}
.rating-selector-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}