
.components-img-history{
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 20px;
}
.components-field-history {
    width: 70%;
    font-size: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.components-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nothing-history {
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-icons-history{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.back-home-button-history{
    color: white;
    background-color: #ee2738;
    border-color: transparent;
}
.other-history {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ee2738;
}
.header-3-history{
    font-size: 15px;
    color: white;
}
.buttons-history {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.header-history {
    width: 100%;
    margin-top: 15px;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    max-width: 380px;
    font-weight: bold;

}
.fields-history {
    margin-top: 10px;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}